@page
@model Ragnarock_App.CurrentDisplayModel
@{
}

<head><title>@Model.display.Name</title></head>

<h1>@Model.display.Name</h1>

<table>


</table>
    <tbody>
        <tr>
            <td>
                @Model.display.Id
            </td>
            <td>
                @Model.display.Name
            </td>
            <td>
                @Model.display.Description
            </td>
            <td>
                <img src="~/ImageFiles/@Model.display.ImageFile" width="60" height="70">
            </td>
            <td>
                <audio controls src="~/SoundFiles/@Model.display.SoundFile">test</audio>
            </td>
        </tr>
    </tbody>
<div>
    <a asp-page="GetAllDisplays">Back to List</a>
</div>