@page
@model Ragnarock_App.CurrentDisplayModel
@{

}

<style>
    th {
        border-bottom: 1px solid #ddd;
        vertical-align: top
    }
    td {

    }
</style>

<head>
    <title>@Model.display.Name</title>
</head>

<br />
<table width="100%">
    <tr>
        @*First collum*@
        <th style="text-align:center">
            <img src="~/ImageFiles/@Model.display.ImageFile" width="500" height="500">
        </th>

        @*second collum*@
        <th style="text-align:center">
            <h1 >Display id: @Model.display.Id @Model.display.Name  </h1>
            <br /> @Model.display.Description
            <p s>
                @Model.display.DisplayText
            </p>

        </th>
    </tr>


    <tr>
        <th style="height:100px;vertical-align:middle;text-align:center" >
            <audio controls src="~/SoundFiles/@Model.display.SoundFile">test</audio>
        </th>
    </tr>

</table>
<div>
    <br />
    <a style="font-size:30px" asp-page="GetAllDisplays">Back to all displays</a>
</div>