@page
@model Ragnarock_App.GetAllDisplaysModel
@{
}

<h1>Get All Displays</h1>



<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Rating
            </th>
            <th>
                ImageFile
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.displays)
        {
<tr>
    <td>
        @item.Value.Id
    </td>
    <td>
        @item.Value.Name
    </td>
    <td>
        @item.Value.Description
    </td>
    <td>
        Rating: @item.Value.Rating
    </td>
    <td>
        <img src="~/ImageFiles/@item.Value.ImageFile" width="60" height="70">
    </td>
    <td>
        <p>

            <a asp-page="CurrentDisplay" asp-route-id="@item.Key">View Display</a>
        </p>

    </td>
</tr>}
    </tbody>

</table>